/* Estilos gerais */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  /* Estilos do cabeçalho */
  header {
    background-color: #333;
    color: #fff;
    padding: 20px;
  }
  
  header h1 {
    margin: 0;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  nav li {
    display: inline;
    margin-right: 20px;
  }
  
  nav a {
    color: #fff;
    text-decoration: none;
  }
  
  /* Estilos da seção de conteúdo */
  main {
    padding: 20px;
  }
  
  section {
    margin-bottom: 40px;
  }
  
  section h2 {
    color: #333;
  }
  
  section img {
    max-width: 100%;
    height: auto;
    margin-right: 20px;
    float: left;
  }
  
  /* Estilos do rodapé */
  footer {
    background-color: #ca0808;
    color: #fff;
    padding: 10px;
    text-align: center;
  }